<section id="links" data-markdown><script type="text/template">
Main Links
--------
* [アカンサスポータル](https://acanthus.cis.kanazawa-u.ac.jp/Portal/index.php)
* [金沢大学附属図書館](http://library.kanazawa-u.ac.jp/)
* [金沢大学学年暦](http://www.adm.kanazawa-u.ac.jp/ad_gakusei/student/reki.pdf)
* [Socrates](http://socrates.io/)
* [CVE](http://cve.mitre.org/)
* [github](https://github.com)
* [Bitbucket](https://bitbucket.org/)
* [CVE](http://cve.mitre.org/)


</script></section>
<section data-markdown><script type="text/template">
OSS REPOSITORIES
--------

* [Assembla](https://www.assembla.com/)
* [Bitbucket](https://bitbucket.org/)
* [CodePlex](https://www.codeplex.com/)
* [GitHub](https://github.com/)
* [Google Code](https://code.google.com/)
* [SourceForge](http://sourceforge.net/)
* [RubyForge](https://rubyforge.org/)



</script></section>
