<section id="top" data-markdown><script type="text/template">
# KUPCH


#### Official Web Site

---
<small>Kanazawa University Programming Circle HOGEHOGE (KUPCH)</small><br/>
<small>CONTACT US [@@mail](mailto:info@@kupch.com) / [@@twitter](http://twitter.com/kupch_info)</small>
<font color='yellow'>Preview</font>
</script></section>

<section id="about" data-markdown><script type="text/template">
ABOUT US
--------

<pre><code data-trim contenteditable>
import com.kupch.hoge.hoge

/**
 *電子情報学類のメンバーを中心とした金大プログラミングサークル
 *活動日：金曜日
 *活動場所：計算機実習室（WS）
 */

object Kupch:
    val summaly = "Kanazawa Univ.'s Programming Circle."
    var activity = "Friday"
    var place = "WS"
</code></pre>

</script></section>


<section data-markdown><script type="text/template">
Updates
--------

* 2014/01/12 :
Play Framework に移行
* 2013/05/17 :
プロトタイプ実装

</script></section>
<section data-markdown><script type="text/template">
System details
--------
【システム基盤】

* Play Framework 2.x


</script></section>