@(title: String)(content: Html)

<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
    <link rel='stylesheet' href='@routes.Assets.at("stylesheets/index.css")'>
    <link rel='stylesheet' href='@routes.Assets.at("reveal.js/css/reveal.css")'>
    <link rel='stylesheet' href='@routes.Assets.at("reveal.js/css/theme/default.css")' id='theme'>
    <link rel='stylesheet' href='@routes.Assets.at("reveal.js/lib/css/zenburn.css")'>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
    <script type="text/javascript" src="@routes.MessageController.javascriptRoutes"></script>
</head>
<body>

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a id="titleLink" class="brand" href="/">@title</a>
            </div>
        </div>
    </div>
    <!--<div class="container">-->
        <!--@content-->
    <!--</div>-->
</body>
</html>