<ul class="nav navbar-nav navbar-right preview">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-paperclip"></span> Tools <b class="caret"></b></a>
        <ul class="dropdown-menu list-group">
            <li><a href="https://acanthus.cis.kanazawa-u.ac.jp/Portal/u001/index.php">アカンサスポータル</a></li>
            <li><a href="https://mbed.org/compiler/#nav:/;">mbed compiler</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">MarkdownEditor</li>
            <li><a href="https://georgeosddev.github.io/markdown-edit/">Markdown Edit</a></li>
            <li class="dropdown-header">Web IDE</li>
            <li><a href="https://ideone.com/">ideon</a></li>
            <li><a href="https://koding.com/">Koding</a></li>
        </ul>
    </li>
</ul>